:root {
    /*Colors*/
    --primary-color: hsl(90, 50%, 45%);
    --secondary-color: hsl(90, 50%, 85%);
    --background-color: hsl(0, 0%, 98%);
    --main-title-color: var(--background-color);
    --accent-color: hsl(288, 100%, 60%);
    --dark-accent-color: hsl(288, 100%, 40%);
    --text-color: hsl(0, 0%, 30%);
    --subtitle-color: hsl(0, 0%, 20%);
    --shadow-color: hsla(0, 0%, 0%, 0.1);
    --copyright-color: var(--main-title-color);
    /*Fonts*/
    --text-font: "RobotoFlex", sans-serif;
    --title-font: "DM Serif Display Italic", serif;
    --nav-font: "RobotoFlexNav", sans-serif;
}

/* Google Fonts */
@font-face {
    font-family: 'DM Serif Display Italic';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/dmserifdisplay/v15/-nFhOHM81r4j6k0gjAW3mujVU2B2G_VB0PD2.woff2) format('woff2');
}

@font-face {
    font-family: "RobotoFlex";
    src: url("Fonts/DM_Serif_Display,Roboto_Condensed,Roboto_Flex/Roboto_Flex/RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.woff2") format("woff2"),
        url("Fonts/DM_Serif_Display,Roboto_Condensed,Roboto_Flex/Roboto_Flex/RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf") format("truetype");
}

@font-face {
    font-family: "RobotoFlexNav";
    src: url("Fonts/DM_Serif_Display,Roboto_Condensed,Roboto_Flex/Roboto_Flex/RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.woff2") format("woff2"),
        url("Fonts/DM_Serif_Display,Roboto_Condensed,Roboto_Flex/Roboto_Flex/RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf") format("truetype");
    font-weight: 600;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: var(--background-color);
    font-family: var(--text-font);
    color: var(--text-color);
    line-height: 1.6;
}

header {
    background-color: var(--primary-color);
    font-size: 48px;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
    color: var(--main-title-color);
    font-family: var(--title-font);
}

nav {
    background-color: var(--secondary-color);
    padding: 15px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 30px;
    font-size: 18px;
}

a {
    color: var(--dark-accent-color);
    font-family: var(--nav-font);
    text-decoration: none;
}

a:hover {
    color: var(--accent-color);
}

main {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    flex: 1;/* Ocupa todo el espacio restante entre header y footer */
    display: flex;
    /*grid-template-columns: repeat(3, 1fr);*/
    gap: 30px;
    /*justify-content: start;*/
    flex-direction: row;
}

section {
    margin-top: 10px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 6px var(--shadow-color);
    padding: 20px;
    transition: transform 0.2s;
}

section:hover {
    transform: scale(1.02);
}

section h2 {
    font-size: 26px;
    color: var(--subtitle-color);
    margin: 0 0 15px 0;
    font-family: var(--title-font);
}

section p {
    color: var(--text-color);
    font-size: 18px;
    margin-top: 10px;
}

footer {
    background-color: var(--primary-color);
    color: var(--copyright-color);
    text-align: left;
    padding: 10px 20px;
    font-size: 14px;
    width: 100%;
}

/* Clase para el último elemento de la página, si necesitas margen adicional */
.ultimo {
    margin-bottom: 0px;
}

.primero {
    margin-top: 10px;
}

@media(width<=1000px){
    main{
        display: list-item;
    }

    section{
        margin-top: 40px;
    }
    .ultimo {
        margin-bottom: 60px;
    }
}